nav{
    
            
            a{
                border: 1px solid #ddd;
                padding: 10px 20px;
                color: black;
                border-radius: 10px;
            }
   

}
.active{
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}