/* You can add global styles to this file, and also import other style files */
.errormsg {
    color: #dd583f;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    height: 17px;
    text-align: initial;
}
